h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #158b15;
}

h2 {
    color: #7ae5f3;
}

body {
    color: #fddcdc;
    font-family: 'Verdana', sans-serif;
}

.container {
    padding: 1rem;
    border: 1px solid #0edaf5;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    background-color: #2c2c2c;
}

a:link {
    color: #770101;
}

a:visited {
    color: #615353;
}

.project {
    background-color: #071a07;
    padding: 24px;
    border-radius: 50px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    min-width: 100vb;
}

.project-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}